@charset "UTF-8";
#button1 {
  position: fixed;
  transform: translate(-50%, -50%);
  left: -35%;
  top: 55%;
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #ffdaa9, -6px -6px 12px #faca9b;
  opacity: 0.9;
  background-color: #ffd1aa;
}
#button1::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #f6a865 0%, #e88b2b 100%);
  transition: .5s ease;
  z-index: -1;
}
#button1:hover::before {
  width: 9em;
}
#button1:hover {
  box-shadow: 6px 6px 12px #e88b2b, -6px -6px 12px #f1ae70;
}
.button1:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.button1:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.button1:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.button1:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}