@charset "UTF-8";
h1 {
  display: fixed;
  align-items: center;
  justify-content: center;
  color: #fffae5;
  font-family: "Lucida Handwriting", cursive;
  font-size: 12em;
  text-shadow: 3px 3px 3px rgb(16, 19, 10);
  max-width: 1920px;
  max-height: 1080px;
  margin-bottom: 10vh;
  float: none;
  position: fixed;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
}