@charset "UTF-8";

h2{
    display: fixed;
	align-items: center;
	justify-content: center;
    color:#6B5034;
	font-family: "Lucida Handwriting", cursive;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    max-width: 1920px;
  max-height: 1080px;
	margin-top:6vh;
  
    position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
