@charset "UTF-8";
h2 {
  display: fixed;
  align-items: center;
  justify-content: center;
  color: #5e8c19;
  font-family: "Lucida Handwriting", cursive;
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  max-width: 1920px;
  max-height: 1080px;
  margin-top: 6vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*

 #3A5A40;
 #FEA82F;#f99201;#e08301;#c77401
 #004F2D;
#97da32
#7cb821;#6da21d;#5e8c19


*/