@charset "UTF-8";
h2 {
  display: fixed;
  align-items: center;
  justify-content: center;
  color: #faeed9;
  font-family: "Lucida Handwriting", cursive;
  font-size: 3em;
  text-shadow: 3px 3px 3px rgb(16, 5, 5);
  max-width: 1920px;
  max-height: 1080px;
  margin-top: 8vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*

 #3A5A40;
 #FEA82F;#f99201;#e08301;#c77401
 #004F2D;
#97da32
#7cb821;#6da21d;#5e8c19


*/