@charset "UTF-8";
#button {
  position: fixed;
  left: 1.5%;
  top: 2%;
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  border: none;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #ffdaa9, -6px -6px 12px #faca9b;
  opacity: 0.9;
  background-color: #ffcb93;
  font-family: inherit;
}
#button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #f6a865 0%, #e88b2b 100%);
  transition: .5s ease;
  z-index: -1;
}
#button:hover::before {
  width: 9em;
}
#button:hover {
  box-shadow: 6px 6px 12px #e88b2b, -6px -6px 12px #f1ae70;
}
.button:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.button:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.button:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.button:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}