@charset "UTF-8";
#button2 {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 135%;
  top: 55%;
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  opacity: 0.8;
}
#button2::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #5e8c19 0%, #007A33 100%);
  transition: .5s ease;
  z-index: -1;
}
#button2:hover::before {
  width: 9em;
}
#button2:hover {
  box-shadow: 6px 6px 12px #007A33, -6px -6px 12px #5e8c19;
}
.button2:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.button2:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.button2:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.button2:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}