@charset "UTF-8";
body{
  /*background-color: #f1ebe2;*/
  max-width: 768px;
  max-height: 1024px;
  margin: auto;
  /*background-image:url("../../../../Downloads/IMG_7417.jpg");
  background-repeat:no-repeat;
  background-position: center;
  backgroud-size: contain;
  padding: 500px;*/
}
h3,h4{
    display: inline-block;
}